<!DООСТУРЕ html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Фopмa Django!</title>
    <style>
    .myfield{
            border:2px solid #ccc;
            border-radius:5px;
            height:25px;
            widht:200px;
            margin:10px 10px 10px 0;
    </style>
</head>

<body>
<h2>Присвоение стилей полям</h2>
    <form method="POST" novalidate>
        {% csrf_token %}
            <div class="form-group">
            {% for field in form %}
                <div>{{field.label_tag}}</div>
                <div>{{field}}</div>
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
            <input type="submit" vаluе="Отправить">
        </form>
</body>
</html>